.social {
  display: flex;
  justify-content: center;

  a.symbol {
    margin-right: 0.3em;
    font-size: 2rem;
    text-decoration: none;
    color: @color-text-lightest;

    transition: color 0.2s;
    &:hover, &:focus, &:active {
      color: @color-primary;
    }

    i.fa {
      font-size: 1.5rem;
    }
  }
}
